@tailwind base;
@tailwind components;
@tailwind utilities;

.logoText {
  font-family: "Rubik Moonrocks", sans-serif;
  color: black
}
.logoTextDark {
  font-family: "Rubik Moonrocks", sans-serif;
  color: white
}
